@import "funciones";
@import "variables";


body {
    background-color: map-get($paleta, azulClaro);
}

#navbar-orientation{
    @include nv-orientation (center, center, auto);
   
}

.navbar-brand{  
    margin-right: 250px 
}

.contenedor-transparente{
    @include contenedor-transparente (12px);
    
}

.botones-reloj{
    @include flex (flex, row, space-around, center, auto);
    margin-top:15px;

}

.btn {
    background-color: transparent;
    border: none;
}  


#stop {
  display: none;
}

#contenedor-reloj { 
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 730px;
   height: 380px;
   background-color: map-get($paleta, Transparente );
}

.start{
    @include flex (flex, none, center, none, auto);
}

#reloj {
    color: #fff;
    display: flex;
    flex: row;
    margin: auto;
    padding: 5px 7px;
    font-size: 130px;
}



.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #fff;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #fff;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
  
  

  #reloj2 {
    display: none;
    color: #fff;
    flex: row;
    margin: auto;
    padding: 5px 7px;
    font-size: 130px;
  }

  #reloj3{
    display: none;
    color: #fff;
    flex: row;
    margin: auto;
    padding: 5px 7px;
    font-size: 130px;
  }

  .logo {
    font-size: 40px;
  }